.cart_sum {
    padding: 10px 5px;
    width: 100%;
    color: #FFFFFF;
    background-color: #2264D1;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 250ms;
    user-select: none;
}
.cart_sum:hover {
    background-color: #2265d1bd;
}
.cart_sum:active {
    background-color: #184183;
}